apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ node_name }}-data
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ node_name }}
    managed-by: ansible
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ k8s_storage_class }}
  resources:
    requests:
      storage: {{ k8s_storage_size }}

